/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
.layout {
	margin:0 auto;
	position:relative;
	width:1200px;
}
@media (min-width: 768px) and (max-width: 1365px){
	.layout {
		width:88%;
	}
	main {
		width:100%;
		height:100%;
	}
	body{
		width:100%;
	}
}

main {
	display:block;
	width:100%;
	position: relative;
}
