.about .bx-wrapper {
  box-shadow: none;
  border: none;
}
.bx-wrapper {
  border: none;
}



// .about .bx-wrapper {
//   box-shadow: none;
//   border: none;
//   .bx-prev {
//     left: 10px;
//     background: url('../images/icon-left.png') no-repeat 0 0;
//   }
//   .bx-next {
//     right: 10px;
//     background: url('../images/icon-right.png') no-repeat 0 0;
//     @media (max-width: 413px) {
//       background: none;
//     }
//   }
//   // .bx-pager-item {
//   //   display: none;
//   // }
// }
