.hd{
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction:row;
	justify-content: space-between;
	align-items: flex-start;
	.logo{
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: 169px;
		height: 34px;
		border: 0;
		margin: 30px 50px 0 0;
		float: left;
		h1{
			display: inline-block;
			overflow: hidden;
			position: relative;
			width: 169px;
			height: 34px;
			a{
				display: inline-block;
				text-decoration: none;
				width: 169px;
				height: 34px;
				img{
					display: inline-block;
					overflow: hidden;
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.mainnav{
		@include fl;
		width: 650px;
		height: 22px;
		margin-top: 32px;
		flex-wrap: wrap;
		flex-direction:row;
		ul {
			width: 650px;
			height: 22px;
			display: flex;
			position: relative;
			overflow: hidden;
			flex-direction:row;
			justify-content: start;
			align-items: flex-start;
			vertical-align: top;
			li {
				display:  inline-block;
				height: 22px;
				position: relative;
				overflow: hidden;
				margin-right: 45px;
				.sel{
					background: #3978fc;
					border: none;
					overflow: visible;
					color: #fff;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
					vertical-align: top;
					.opt{
						overflow: visible;
						color: #fff;
						font-family: 'Open Sans', sans-serif;
						font-size: 16px;
						a{
							overflow: visible;
							color: #fff;
							font-family: 'Open Sans', sans-serif;
							font-size: 16px;
						}
					}
				}
				a{
					overflow: visible;
					color: #fff;
					font-family: 'Open Sans', sans-serif;
					font-size: 16px;
				}
			}
			li:nth-child(3){
					margin-top: 4px;
			}
			li:nth-last-child(2){
					margin-top: 4px;
			}
			li:last-child{
					margin-top: 4px;
			}
		}
	}
	.sign_in {
		@include fl;
		width: 200px;
		height: 50px;
		margin-top: 36px;
		flex-wrap: wrap;
		flex-direction:row;
			ul {
				width: 200px;
				height: 50px;
				display: flex;
				position: relative;
				overflow: hidden;
				flex-direction:row;
				justify-content: start;
				align-items: center;

				li{
					width: 100px;
					height: 50px;
					a{
						width: 100px;
						height: 50px;
						color: #fff;
						font-family: "Open Sans";
						font-size: 16px;
					}
					a:hover {
						width: 100px;
						height: 50px;
						background-color: #fff;
						border-radius: 20px 20px 0 20px;
						color: #3978fc;
					}
			}
		}
}
span {
	margin: 0 auto;
	width: 1070px;
	height: 1px;
	margin-bottom: 0px;
	background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.38) 49%, rgba(255, 255, 255, 0) 100%);
}
}

 @media (min-width: 768px) and (max-width: 1365px){
	 .hd{
		 display: block;
		 .logo{
			 display: block;
			 margin-bottom: 20px;
			 margin-right: 0;
		 }
		 .mainnav{
			 width: 520px;
			 margin-top: 36px;
			 ul{
				 width: 520px;
				 li{
					 margin-right: 0;
					 width: 122px;
					 text-align: center;
					 .sel{
	 					font-size: 12px;
						.opt{
							overflow: visible;
							color: #fff;
							font-family: 'Open Sans', sans-serif;
							font-size: 12px;
							a{
								overflow: visible;
								color: #fff;
								font-family: 'Open Sans', sans-serif;
								font-size: 12px;
							}
						}
						a{
							overflow: visible;
							color: #fff;
							font-family: 'Open Sans', sans-serif;
							font-size: 12px;
						}
	 				}
					 a{
						 font-size: 12px;
						 width: 110px;
					 }
				 }
				 li:nth-child(3){
						 margin-top: 0;
				 }
				 li:nth-last-child(2){
						 margin-top: 0;
				 }
				 li:last-child{
						 margin-top: 0;
						  margin-right: 0;
				 }
			 }
		 }
	 }
 }
