.our_data{
  display: block;
  position: relative;
  overflow: visible;
  height: 680px;
  top: -146px;
  background: #3978fc;
  .img_left{
     display: inline-block;
     position: relative;
     overflow: hidden;
     top: 40px;
     width: 55%;
     img{
       display: inline-block;
       position: relative;
       overflow: hidden;
       width: 670px;
       height: 640px;
     }
  }
  .content_right{
    display: inline-block;
    position: relative;
    overflow: visible;
    vertical-align: top;
    top: 46px;
    width: 44%;
    h3{
      @include first;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;
      margin-left: 20px;
      margin-bottom: 40px;
      width: 522px;
      float: left;
      }
    p{
      @include first;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 40px;
      width: 484px;
      text-align:left;
  }
  a{
    display:  table-cell;
    position: relative;
    overflow: visible;
    left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 230px;
    height: 58px;
    background: #e3bb1b;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    border-radius: 4px;
    -webkit-box-shadow: 8px 17px 61px -1px rgba(0,0,0,0.77);
    -moz-box-shadow: 8px 17px 61px -1px rgba(0,0,0,0.77);
    box-shadow: 8px 17px 61px -1px rgba(0,0,0,0.77);
  }
}
}

@media (min-width: 768px) and (max-width: 1365px){
  .our_data{
    height: 350px;
    .img_left{
        display: none;
    }
    .content_right{
      top:30px;
      h3{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        margin-left: 0;
        margin-bottom: 20px;
        width: 600px;
        }
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        margin: 10px 0 20px 0;
        width: 600px;
  }
}
}
}
